# Maven target directory
target/
!.mvn/wrapper/maven-wrapper.jar
!target/classes/architecture.json

# IDE Settings
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Log Files
*.log

# Sensitive Credentials (Optional: if keeping passwords local)
# src/main/resources/application-local.properties

# Archives
*.zip
*.tar.gz
